
#top {
    background-image: url("../images/top.png");
    position: absolute;
    top: 10px;
    left: 10px;
    height: 150px;
    width: 1800px;
}

#bottom {
    background-image: url("../images/bottom.png");
    position: absolute;
    top: 880px;
    left: 10px;
    height: 110px;
    width: 1800px;
}

#left {
    background-image: url("../images/left.png");
    position: absolute;
    top: 170px;
    left: 10px;
    height: 700px;
    width: 250px;
}

#right {
    background-image: url("../images/right.png");
    position: absolute;
    top: 170px;
    left: 1560px;
    height: 700px;
    width: 250px;
}

#content {
    background-image: url("../images/context.png");
    position: absolute;
    top: 170px;
    left: 270px;
    height: 700px;
    width: 1280px;
}

#content_left {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 700px;
    width: 390px;
}

#content_top {
    position: absolute;
    top: 0px;
    left: 390px;
    height: 100px;
    width: 500px;
}

#content_center {
    background-image: url("../images/board.png");
    position: absolute;
    top: 100px;
    left: 390px;
    height: 500px;
    width: 500px;
}

#content_bottom {
    position: absolute;
    top: 600px;
    left: 390px;
    height: 100px;
    width: 500px;
}

#content_right {
    position: absolute;
    top: 0px;
    left: 890px;
    height: 700px;
    width: 390px;
}


#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


